In [13]:
 # task 1
contacts = { "Menna" : "01234567891" ,
            "Ahmed" : "01236578912" ,
            "Mohamed" : "01234665543" }
more =  { "Aisha" :  "010457687997", 
         "Noor" : "01568788679",
         "Malak" : "01088874455" }
contacts.update(more)
print (" contacts are : ")
 for name, number in contacts.items() :
     print ( name , ":" , number ) 
     print ( "- - - - - - - - " )
     
print (" please enter the name ")
search_name= input()
  
if name in contacts :
      print(f"{search_name } 's phone number  is : {contacts[search_name]}")
else :
    print(f"{search_name} is not found in the contact book. " )

 contacts are :
Menna : 01234567891
- - - - - - - -
Ahmed : 01236578912
- - - - - - - -
Mohamed : 01234665543
- - - - - - - -
Aisha : 010457687997
- - - - - - - -
Noor : 01568788679
- - - - - - - -
Malak : 01088874455
- - - - - - - -
 please enter the name

 Aisha

Aisha 's phone number  is : 010457687997

In [8]:
# task2


students = [ { "name" : "Ahmed", "grades" :[ 80 , 90 , 100] } ,
                {"name" : "Mohamed" , "grades" :[ 80 , 80 , 70] } ,
                {"name" : "selivia" , "grades" :[ 60 , 80 , 100 ] }  ]
# full mark is 100
for student in students :
    name = student["name"]
    grades = student["grades"]
    average = sum(grades) / len(grades)
    print ( name , ":" , " The average of their marks is :" , average )

Ahmed :  The average of their marks is : 90.0
Mohamed :  The average of their marks is : 76.66666666666667
selivia :  The average of their marks is : 80.0